extends layout

block content
    div(class="navbar-fixed teal darken-3")
      nav
        div(class="nav-wrapper teal darken-3")
          a(href="#!" class="brand-logo")= title
      
    div(class='row')
          div(class='col s12')
            div(class='col s3')
              div(class='row')
                // USER INFO
                #userInfo
                    p(class='card-panel') 
                        strong Nome Completo:
                        |  <span id='userInfoName'></span>
                        br
                        strong Idade:
                        |  <span id='userInfoAge'></span>
                        br
                        strong Localidade:
                        |  <span id='userInfoLocation'></span>
                        br
                        strong Sexo:
                        |  <span id='userInfoGender'></span>
                // /USER INFO
            div(class='col s5')
              div(class='table-div')
                
                // USER LIST
                #userList
                  table(class='responsive-table')
                    thead
                      th(class='teal darken-3 white-text') Nome de usu치rio
                      th(class='teal darken-3 white-text') E-mail
                      th(class='teal darken-3 white-text') Deletar
                      th(class='teal darken-3 white-text') Editar 
                    tbody
                // /USER LIST
            div.col.s4

                // ADD USER
                #addUserPanel
                    //h6 Adicionar usu치rios
                    #addUser
                        form(class='col s12')
                          div(class='row')
                            div(class="input-field col s6")
                              input(id="inputUserName", type="text", class="validate")
                              |<label for="inputUserName">Nome de Usu치rio</label>
                            
                            div(class="input-field col s6")  
                              input(id="inputUserEmail", type="text", class="validate")
                              |<label for="inputUserEmail">E-mail</label>
                            br
                           
                            div(class="input-field col s6")  
                              input(id="inputUserFullname", type="text", class="validate")
                              |<label for="inputUserFullname">Nome Completo</label>
                           
                            div(class="input-field col s6")  
                              input(id="inputUserAge", type="text", class="validate")
                              |<label for="inputUserAge">Idade</label>
                            br
                            div(class="input-field col s6")  
                              input(id="inputUserLocation", type="text", class="validate")
                              |<label for="inputUserLocation">Localidade</label>
                            div(class="input-field col s6")  
                              input(id="inputUserGender", type="text", class="validate")
                              |<label for="inputUserGender">Sexo</label>
                           
                            br
                            div(class="input-field col s6") 
                              button(id='btnAddUser',class='waves-effect waves-light btn teal darken-3') Adicionar
                                |<i class="material-icons left white-text">send</i>
                                
                // /ADD USER
                // UPDATE USER
                #updateUserPanel
                    #updateUser
                        form(class='col s12')
                          div(class='row')
                            div(class="input-field col s6")
                
                              input(value= " ", id="updateUserName", type="text", class="validate", field="username")
                              |<label class="active", for="updateUserName">Nome de Usu치rio</label>
                            
                            div(class="input-field col s6") 
                              
                              input(value= " ", id="updateUserEmail", type="text", class="validate", field="email")
                              |<label class="active", for="updateUserEmail">E-mail</label>
                            br
                           
                            div(class="input-field col s6") 
                              
                              input(value= " ", id="updateUserFullname", type="text", class="validate", field="fullname")
                              |<label class="active", for="updateUserFullname active">Nome Completo</label>
                           
                            div(class="input-field col s6")  
                             
                              input(value= " ", id="updateUserAge", type="text", class="validate", field="age")
                              |<label class="active", for="updateUserAge">Idade</label>
                            br
                            div(class="input-field col s6")  
                              
                              input(value= " ", id="updateUserLocation", type="text", class="validate", field="location")
                              |<label class="active", for="updateUserLocation">Localidade</label>
                            div(class="input-field col s6") 
                             
                              input(value= " ", id="updateUserGender", type="text", class="validate", field="gender")
                              |<label class="active", for="updateUserGender">Sexo</label>
                           
                            br
                            div(class="input-field col s6") 
                              button(id='btnUpdateUser',class='waves-effect waves-light btn teal darken-3') Editar
                                |<i class="material-icons left white-text">mode_edit</i>
                            div(class="input-field col s6") 
                              button(id='btnCancelUpdateUser',class='waves-effect waves-light btn teal darken-3') Cancelar
                                 |<i class="material-icons left white-text">highlight_off</i>
                           
                // /UPDATE USER
